
<!DOCTYPE html>
<head>
  <title>SuperHero Suggester</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Name my Super Hero</h3>
  <form action="/" method="post">
      <input type="hidden" name="queryType" value="superhero">
      <input type="text" name="gender" placeholder="Enter the gender of SuperHero (Male/Female)" required />
      <input type="text" name="actualName" placeholder="Enter the Name of man behind superhero" required />
      <input type="text" name="powers" placeholder="Enter the powers of your SuperHero" required />
      <input type="text" name="Job" placeholder="What is he pursuing in his/her normal life" required />

    <input type="submit" value="Generate names" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
